@model IEnumerable<Scholas.Models.tipo_documentos>

@{
    ViewBag.Title = "Index";
}

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Inserir novo", "Create")
</p>
<table>
    <tr>
        <th>
            descricao
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Visualizar", "Details", new { id = item.id }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
